@import url('https://fonts.cdnfonts.com/css/georgia');

body {
	background-color: #232A2D;
	color: #F6F9F7;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
	font-size: 28px;
	margin-top: 10px;
}

h3{
	font-size: 20px;
	color: #D3C395;
}

.pull-right, .pull-lft{
	color:#ede7d4;
	cursor: pointer;
	margin-top: 25px;
}

.thumbnail {
	padding: 4px;
	margin-bottom: 5px;
}

.img-thumbnail {
	max-width: 100%;
	height: auto;
	padding: 1px;
	background-color: #232A2D;
	border:none;
	border-radius: 0%;
	opacity: 0.4;
}

.thumbnail img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 630px;
	height: 380px;
	opacity: 1;
	background-color: #F6F9F7;
}

.imageCollection img{
	width: 90px;
	height: 90px;
	cursor: pointer;
}

.isActive{
	opacity: 1;
	// background-color: #F6F9F7;
}

.imageCollection img:hover {
	opacity: 1;
	background-color: #F6F9F7;
	-moz-box-shadow: 0 0 10px #DDE0DE;
	-webkit-box-shadow: 0 0 10px #DDE0DE;
	box-shadow: 0 0 10px #DDE0DE;
}

.isInactive{
	color:rgb(134, 134, 134);
}